@import 'normalize.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62, 5%;
}

body {
    font-family: 'ProximaNova', sans-serif;
    font-size: 1.1rem;
    text-rendering: optimizeSpeed;
}

@font-face {
    font-family: ProximaNova;
    src: url('/accset/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: ProximaNova;
    src: url('/accset/fonts/ProximaNova-Semibold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: ProximaNova;
    src: url('/accset/fonts/sofiapro-bold.woff');
    font-weight: 700;
}
@font-face {
    font-family: ProximaNova;
    src: url('/accset/fonts/sofiapro-semibold.otf');
    font-weight: 700;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}
a[href] {
    color: #000;
    text-decoration: none;
}

body {
    .tippy-box {
        border-radius: 8px;
        font-size: 1.2rem;
        line-height: 2.2rem;
        font-weight: 600;
        background-color: rgba($color: #332d2d, $alpha: 1);
    }
    .tippy-arrow {
        color: rgba($color: #332d2d, $alpha: 1);
    }
    .tippy-content {
        padding: 8px 9px;
    }
    .tippy-box[data-placement^='bottom'] > .tippy-arrow::before {
        top: -8px;
    }
}
