.hihi {
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
}
.hi {
    position: absolute;
    top: 34px;
    left: 40px;
    transform: translate(-50%, -50%);
}
